---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "styleguide";
@import "common";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

#recent_code {
  /* otherwise lines show between highlighting on nonretina */
  line-height: 1.1em;
}
#recent_code_link {
  display: block;
  border: none;
  &:hover {
    display: block;
    background: initial;
  }

  pre {
    max-height: 0;
    transition: opacity $slow ease-out;
    opacity: 0;
    overflow: hidden;
    /*background: #2d2d2d;*/
    &:hover {
      /*background: #2d2d2d;*/
    }

    code {
      /*background: #2d2d2d;*/
      background-color: initial;
      text-align: left;
      font-size: 11px;
      overflow: scroll;
    }
  }
}
