---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "styleguide";
@import "common";
@import "blog_common";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

%content-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 25px;
  padding: 10px 20px;
  opacity: 0;
  transition: all $fast ease-out;
  margin: 0 auto;
  max-width: 500px;
  /* otherwise width 100% takes from padding box, not whole box */
  box-sizing: border-box;

  font-size: 14px;
  text-align: left;
  /*display: none; TODO: otherwise the margin pushes term down even when not on about,
  but this makes the height calcs in toggleAbout fail */

  &.loaded {
    opacity: 1;
    margin-top: 25px;
    /* account for footer height */
    margin-bottom: 100px;
  }
}

#wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity $slow ease-out,
              padding $slow ease-out,
              top $slow ease-out,
              transform $slow ease-out;

  text-align: center;
  &.loaded {
    opacity: 1;
  }
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: $grey;
  background-color: $offwhite;
  ul {
    list-style: none;
    padding-left: inherit;
    li {
      display: inline-block;
      padding: 4px 8px;
      transition: all $fast ease;
      &:hover {
        color: $darkgrey;
      }
      &::before {
        display: block;
        width: 5px;
        height: 5px;
        margin: 8px auto;
        border-radius: 5px;
        border: 2px solid $grey;
        content: '';
        transition: all $fast ease;
      }
      &:hover::before {
        background: $yellow;
        border-color: $yellow;
      }
    }
  }
}

#logo {
  margin-top: 4px;
}

#content {
  position: relative;
  transition: all 0.3s ease-out;
}



/* The meat */
#about_content {
  @extend %content-section;
  &.loaded {
    #recent_code_link > pre {
      opacity: 1;
      /* js max-height setting */
    }
  }

  a {
    text-decoration: none;
  }
}

#recent_code {
  /* otherwise lines show between highlighting on nonretina */
  line-height: 1.1em;
}
#recent_code_link {
  display: block;
  border: none;
  &:hover {
    display: block;
    background: initial;
  }

  pre {
    max-height: 0;
    transition: opacity $slow ease-out;
    opacity: 0;
    overflow: hidden;
    /*background: #2d2d2d;*/
    &:hover {
      /*background: #2d2d2d;*/
    }

    code {
      /*background: #2d2d2d;*/
      background-color: initial;
      text-align: left;
      font-size: 11px;
      overflow: scroll;
    }
  }
}

#title {
  margin-bottom: 2px;
}
#subtitle {
  margin-top: 0;
}
/* Below... Maybe the default color is nicer. */
a#facebook:hover {
  color: #3b5999;
  background-color: initial;
}
a#bigfix:hover {
  color: #ABC450;
  background-color: initial;
}
a#berkeley:hover {
  color: #3B7EA1;
  background-color: initial;
}

// i need to get webpack and get rid of this dumb bundling
@import 'term';
@import 'visual';
@import 'blog';
