@import 'kml_new';
$term-offwhite : #f1f2f0;
$term-offblack : #333;
$term-red      : #F16061;
$term-yellow   : #FDD484;
$term-green    : #AFD792;
$shell-grey    : #B7B7B7;
$shell-green   : #B4E37D;
$shell-blue    : #54FDE6;

#term {
  @extend %content-section;
  position: relative;
  bottom: 0;
  height: 244px;
  padding: initial;
  margin-bottom: 15px;

  font-family: 'DejaVu Sans Mono for Powerline', monospace;
  font-size: 12px;
  border-radius: 10px;
  border-top: 22px solid $term-offwhite;
  &.loaded {
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

#appbar {
  text-align: left;
  position: absolute;
  top: -22px;
  z-index: 1;
  width: 100%;
  padding-left: 4px;
  padding-top: 4px;
  /* non-kosher styles */
  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  display: none;
  div {
    display: inline-block;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
  }
  #close {
    /* TODO: add gradients */
    background-color: $term-red;
  }
  #minimize {
    background-color: $term-yellow;
  }
  #maximize {
    background-color: $term-green;
  }
}
#term.loaded #appbar {
  display: block;
}

#output {
  overflow: scroll;
  text-align: left;

  display: none;
}
#term.loaded #output {
  height: 234px;
  padding: 4px;
  display: block;
}

#textarea {
  white-space: pre;
}
#lastline {
  input {
    width: 423px;
    border: none;
    padding: 0;
    margin-left: 7px;

    font-family: 'DejaVu Sans Mono for Powerline', monospace;
    font-size: 12px;

    &:focus {
      outline: none;
    }
  }
}

/* Text coloring styles */
#term {
  background-color: $term-offblack;
  color: $term-offwhite;
}
#lastline > input {
  background-color: $term-offblack;
  color: $term-offwhite;
}

#term .prompt_path {
  color: $shell-grey;
}
#term .prompt_arrow {
  color: $shell-green;
}

#term span.directory {
    color: $shell-blue;
}
