#about_content, #visual_content, #term {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 25px;
  padding: 10px 20px;
  opacity: 0;
  transition: all 0.3s ease-out;
  margin: 0 auto;
  max-width: 500px;
  /* otherwise width 100% takes from padding box, not whole box */
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  /*display: none; TODO: otherwise the margin pushes term down even when not on about,
  but this makes the height calcs in toggleAbout fail */ }
  .loaded#about_content, .loaded#visual_content, .loaded#term {
    opacity: 1;
    margin-top: 25px;
    /* account for footer height */
    margin-bottom: 100px; }

/* Containers and "body" - structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #454545;
  font-family: 'Avenir Next', 'Open Sans', sans-serif;
  /*font-family: 'Avenir';
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway';
  font-family: 'Museo Sans';
  font-family: 'Roboto Slab';
  font-family: 'PF DinText Pro';
  font-family: 'Maax';*/
  background-color: #fDfCf6; }

#wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.6s ease-out, padding 0.6s ease-out, top 0.6s ease-out, transform 0.6s ease-out;
  text-align: center; }
  #wrapper.loaded {
    opacity: 1; }

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #888;
  background-color: #fDfCf6; }
  nav ul {
    list-style: none;
    padding-left: inherit; }
    nav ul li {
      display: inline-block;
      padding: 4px 8px;
      transition: all 0.3s ease; }
      nav ul li:hover {
        color: #333; }
      nav ul li::before {
        display: block;
        width: 5px;
        height: 5px;
        margin: 8px auto;
        border-radius: 5px;
        border: 2px solid #888;
        content: '';
        transition: all 0.3s ease; }
      nav ul li:hover::before {
        background: #FFDE00;
        border-color: #FFDE00; }

#logo {
  margin-top: 4px; }

#content {
  position: relative;
  transition: all 0.3s ease-out; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00;
  /*background-color: #a40000;*/ }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  font-weight: 600; }
  a:hover {
    color: black; }

h1, h2, h3 {
  /*font-family: 'Avenir Next';*/
  line-height: 1.3;
  /*font-family: 'Avenir';*/
  /*font-family: 'Lato', sans-serif;
  font-family: 'PF DinText Pro';
  font-family: 'Maax';*/
  font-weight: 500; }
  h1 a, h2 a, h3 a {
    font-weight: 700; }

p {
  line-height: 1.5; }

/* The meat */
#about_content.loaded #recent_code_link > pre {
  opacity: 1;
  /* js max-height setting */ }

#about_content a {
  text-decoration: none; }

#recent_code {
  /* otherwise lines show between highlighting on nonretina */
  line-height: 1.1em; }

#recent_code_link {
  display: block;
  border: none; }
  #recent_code_link:hover {
    display: block;
    background: initial; }
  #recent_code_link pre {
    max-height: 0;
    transition: opacity 0.6s ease-out;
    opacity: 0;
    overflow: hidden;
    /*background: #2d2d2d;*/ }
    #recent_code_link pre:hover {
      /*background: #2d2d2d;*/ }
    #recent_code_link pre code {
      /*background: #2d2d2d;*/
      background-color: initial;
      text-align: left;
      font-size: 11px;
      overflow: scroll; }

#title {
  margin-bottom: 2px; }

#subtitle {
  margin-top: 0; }

/* Below... Maybe the default color is nicer. */
a#facebook:hover {
  color: #3b5999;
  background-color: initial; }

a#bigfix:hover {
  color: #ABC450;
  background-color: initial; }

a#berkeley:hover {
  color: #3B7EA1;
  background-color: initial; }

/* design section */
#visual_content {
  text-align: center;
  color: #fDfCf6;
  line-height: 30px; }
  #visual_content a {
    text-transform: uppercase;
    letter-spacing: 15px; }

body.visual.insta {
  background-image: url("/i/insta.jpg"); }

body.visual nav {
  background-color: initial;
  color: #fDfCf6; }
  body.visual nav ul li:hover {
    color: #ddd; }
  body.visual nav ul li::before {
    border-color: #ddd; }
  body.visual nav ul li:hover::before {
    border-color: #FFDE00; }

body.visual #visual_bg {
  opacity: 1;
  background-position: center center; }

#visual_bg {
  /* transitioning background position lags... but i like it */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("/i/me.jpg");
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, background-image 0.3s ease;
  transition: opacity 0.3s ease, background-image 0.3s ease; }

#term {
  bottom: 0;
  height: 244px;
  padding: initial;
  margin-bottom: 15px;
  font-family: 'DejaVu Sans Mono for Powerline', monospace;
  font-size: 12px;
  border-radius: 10px;
  border-top: 22px solid #f1f2f0; }
  #term.loaded {
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 0; }

#appbar {
  text-align: left;
  position: absolute;
  top: -22px;
  z-index: 1;
  width: 100%;
  padding-left: 4px;
  padding-top: 4px;
  /* non-kosher styles */
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  display: none; }
  #appbar div {
    display: inline-block;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center; }
  #appbar #close {
    /* TODO: add gradients */
    background-color: #F16061; }
  #appbar #minimize {
    background-color: #FDD484; }
  #appbar #maximize {
    background-color: #AFD792; }

#term.loaded #appbar {
  display: block; }

#output {
  overflow: scroll;
  text-align: left;
  display: none; }

#term.loaded #output {
  height: 234px;
  padding: 4px;
  display: block; }

#textarea {
  white-space: pre; }

#lastline input {
  width: 423px;
  border: none;
  padding: 0;
  margin-left: 7px;
  font-family: 'DejaVu Sans Mono for Powerline', monospace;
  font-size: 12px; }
  #lastline input:focus {
    outline: none; }

/* Text coloring styles */
#term {
  background-color: #333;
  color: #f1f2f0; }

#lastline > input {
  background-color: #333;
  color: #f1f2f0; }

#term .prompt_path {
  color: #B7B7B7; }

#term .prompt_arrow {
  color: #B4E37D; }

#term span.directory {
  color: #54FDE6; }
