/* Containers and "body" - structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  /* make selection red */
  font-family: 'Lato', sans-serif;
}

#wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 500px;

  opacity: 0;
  transition: all 0.6s ease-out;
  padding-bottom: 30px;

  text-align: center;
}
#wrapper.loaded {
  opacity: 1;
  padding-bottom: inherit;
}

nav {
  list-style: none;
}
nav > li {
  display: inline-block;
}
nav > li > a {
  padding: 5px 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease;
}
nav > li > a:hover {
  background-color: #a40000;
  color: #f1f2f3;
}

#content {
  padding: 10px 20px;
}


/* The meat */
#term {
  position: relative;
  width: 0;
  height: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  overflow: hidden;
  opacity: 0;
  font-family: 'DejaVu Sans Mono for Powerline', monospace;
  font-size: 12px;
  transition: all 0.3s ease-out;

  background-color: #333;
  color: #f1f2f0;
  border-radius: 10px;
}
/* must be a better selector than copying this */
#term.loaded {
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 0;
  width: 100%;
  height: 200px;
}

#appbar {
  text-align: left;
  background-color: #EEE;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 4px;
  padding-top: 4px;
  /* non-kosher styles */
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
#appbar div {
  display: inline-block;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}
#close {
  /* TODO: add gradients */
  background-color: #F16061;
}
#minimize {
  background-color: #FDD484;
}
#maximize {
  background-color: #AFD792;
}

#output {
  overflow: scroll;
  height: 176px; /* 200 - 24 */
  padding: 4px;
  padding-top: 24px;
  text-align: left;
}
#lastline {
}
#lastline > input {
  width: 423px;
  border: none;
  padding: 0;
  margin-left: 7px;

  /* add PT Mono */
  font-family: 'DejaVu Sans Mono for Powerline', monospace;
  font-size: 12px;

  background-color: #333;
  color: #f1f2f0;
}
#lastline > input:focus {
  outline: none;
}

.prompt_path {
  color: #B7B7B7;
}
.prompt_arrow {
  color: #B4E37D;
}
