@import '../styleguide.scss';

body, html {
  margin: 0;
  height: 100%;
  width: 100%;

  color: $offblack;
  font-family: 'Avenir Next', 'Open Sans', sans-serif;
  /*font-family: 'Avenir';
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway';
  font-family: 'Museo Sans';
  font-family: 'Roboto Slab';
  font-family: 'PF DinText Pro';
  font-family: 'Maax';*/
  background-color: $offwhite;
}

#wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  // transition: opacity $slow ease-out,
  //             padding $slow ease-out,
  //             top $slow ease-out,
  //             transform $slow ease-out;
  text-align: center;

  #logo {
    margin-top: 4px;
  }
}

#banner {
  position: absolute;
  top: 0;
  width: 100%;
  font-size:  12px;
  text-align: center;
  padding-top: 10px;
  opacity: 0.4;
}

/*
.Layout {
  margin: 0 auto;
}

@media (min-width: $screen-sm-min) {
  .Layout {
    width: calc($screen-sm-min - 18px);
  }
}

@media (min-width: $screen-md-min) {
  .Layout {
    width: calc($screen-md-min - 22px);
  }
}

@media (min-width: $screen-lg-min) {
  .Layout {
    width: calc($screen-lg-min - 30px);
  }
}
*/
