@import 'styleguide';

/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;

  color: $offblack;
  font-family: $font-body;
  /*font-family: 'Avenir';
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway';
  font-family: 'Museo Sans';
  font-family: 'Roboto Slab';
  font-family: 'PF DinText Pro';
  font-family: 'Maax';*/
  background-color: white;
}

#banner {
  position: absolute;
  top: 0;
  width: 100%;
  font-size:  12px;
  text-align: center;
  padding-top: 10px;
  opacity: 0.4;
}

/* Adjustments to tag defaults */
::selection {
  background-color: $yellow;
  /*background-color: #a40000;*/
}

a {
  text-decoration: none;
  color: inherit;
  transition: all $fast ease;
  font-weight: 600;
  &:hover {
    color: black;
  }
}

h1, h2, h3 {
  /*font-family: 'Avenir Next';*/
  line-height: 1.3;

  /*font-family: 'Avenir';*/
  /*font-family: 'Lato', sans-serif;
  font-family: 'PF DinText Pro';
  font-family: 'Maax';*/

  font-weight: 500;

  a {
    font-weight: 700;
  }
}

p {
  line-height: 1.5;
}
