@import '../styleguide.scss';

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: $grey;
  background-color: $offwhite;
  ul {
    list-style: none;
    padding-left: inherit;
    li {
      display: inline-block;
      padding: 4px 8px;
      transition: all $fast ease;
      &:hover {
        color: $darkgrey;
      }
      &::before {
        display: block;
        width: 5px;
        height: 5px;
        margin: 8px auto;
        border-radius: 5px;
        border: 2px solid $grey;
        content: '';
        transition: all $fast ease;
      }
      &:hover::before {
        background: $yellow;
        border-color: $yellow;
      }
    }
  }
}
