---
layout: blog_base
---
<div class='category-content'>
  <h1>Posts in {{ page.category }}</h1>

  {% unless page.content == '' %}
    <p>{{ page.content }}</p>
  {% endunless %}

  <div class="post-list">
    {% for post in site.categories.[page.category] %}
      {% if post.visible == 1 %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
          <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        </a>
        <p>{{ post.excerpt }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
