---
layout: default
---
<div id='visual_content'>
  <a class='active'>photography</a><br>
  <a>grads</a><br>
  <a>film</a><br>
  <a target="_blank" href="http://instagram.com/kevinmlee.x">instagram</a><br>
  <br>⬦<br><br>
  <a>design</a><br>
  <a>100 days of design</a><br>
  <!-- <a>innovative design</a><br>
  <a>guitars</a> -->
</div>
<div id='term_content'>
  <div id='term'>
    <div id='appbar'>
      <div id='close'></div>
      <div id='minimize'></div>
      <div id='maximize'></div>
    </div>
    <div id='output'>
      <div id='textarea'></div>
      <div id='lastline'>
        <span class='prompt_path'>~</span> <span class='prompt_arrow'>&#x2192;</span><input type='text' />
      </div>
    </div>
  </div>
  <p>Try your favorite terminal commands, or just go <a id="term-project-link">straight to the projects.</a></p>
</div>
<div id='about_content'>
  <h1 id='title'>Hello! I'm Kevin Lee,</h1>
  <h2 id='subtitle'>
    a <a class='software' href='software.html'>software engineer</a>
    and <a class='visual' href='visual.html'>designer</a> from the Bay Area.
  </h2>
  <p>
    I'm finishing my last year at
    <a id='berkeley' target="_blank" href='http://berkeley.edu'>UC Berkeley</a>
    right now.
    Last summer, I wrote code for
    <a id='facebook' target="_blank" href='http://facebook.com'>Facebook</a>,
    and I've also worked at
    <a id='bigfix' target="_blank" href='http://ibm.com/security/bigfix/'>IBM BigFix</a>.
  </p>
  <br>
  <p>The last few lines of code I wrote look like <a href="javascript:;" id="recent_code_show">this:</a></p>
  <a id='recent_code_link' target="_blank"><pre><code id='recent_code' class='hljs diff'></code></pre></a>
</div>
<div id='blog_content'>
  <div class="post-list">
    {% for post in site.posts %}
    {% if post.visible == 1 %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <h2>{{ post.title }}</h2>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
      </a>
      <p>{{ post.excerpt }}</p>
    {% endif %}
    {% endfor %}
  </div>
</div>
