@import url('https://fonts.googleapis.com/css?family=Karla');
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

$line-height: 21px;

.container {
  width: 100%;
  height: 100%;

  $nameplate-base: 15vw;

  .kevin, .lee, .mngyuan {
    cursor: default;
    user-select: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: $nameplate-base;
    color: #f1f0f0;
  }
  .kevin, .lee {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
  }
  .kevin {
    left: -$nameplate-base / 3;
  }
  .mngyuan {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-left: $nameplate-base / 3;
  }
  .lee {
    right: -$nameplate-base / 10;
  }

  .page {
    min-width: 100vh;
    min-height: 100vh;

    .theOne {
      position: absolute;
      bottom: 20vh;
      left: 20vw;
      font-family: 'Karla', sans-serif;
      font-size: 15px;
      line-height: $line-height;
      width: 225px;
      // width: 20vw;

      .line {
        width: 50%;
        background-color: black;
        height: $line-height * 0.2;
        margin-top: $line-height * 0.4;
        margin-bottom: $line-height * 0.4;
      }
    }
  }
}

.brutalism {
  width: 300vw;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
