@import url('https://fonts.googleapis.com/css?family=Karla');
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.brutalism {
  width: 300vw;
}

.container {
  width: 100%;
  height: 100%;
}

.kevin, .lee, .mngyuan {
  cursor: default;
  user-select: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15vw;
  color: #f1f0f0;
}
.kevin, .lee {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}
.kevin {
  left: calc(-15vw / 3);
}
.mngyuan {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-left: calc(15vw / 3);
}
.lee {
  right: calc(-15vw / 10);
}

.page {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}

.page.black {
  background: black;
}

.page.black iframe {
  position: absolute;
  top: 35vh;
  right: 15vw;
  border: none;
}
#hider {
  width: 640px;
  height: 55px;
  background-color: black;
  position: absolute;
  top: calc(35vh + 360px - 55px);
  right: 15vw;
}

.theOne {
  position: fixed;
  bottom: 10vh;
  left: 10vw;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  line-height: 21px;
  width: 305px;
  background: rgba(255,255,255,1);
  max-height: 540px;
  height: 70%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.theOne.black {
  background: none;
  color: white;
}

.theOneInner {
  position: absolute;
  bottom: 0;
  padding: inherit;
  left: 0;
}

.theOneDecor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: inherit;
  height: 80px;
  border-top: 12px solid rgba(255, 0, 0, 0.5);
  border-left: 12px solid rgba(255, 0, 0, 0.5);
  border-right: 12px solid rgba(69, 91, 159, 0.5);
}

.nav a {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
.nav a.active,
.nav a:hover {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.5);
}

.line {
  width: 50%;
  background-color: black;
  height: calc(21px * 0.2);
  margin-top: calc(21px * 0.4);
  margin-bottom: calc(21px * 0.4);
}

.photowrapper {
  height: 80vh;
  position: absolute;
  top: 15vh;
  bottom: 5vh;
  width: 100%;
  overflow: scroll;
}

.photowrapperInner {
  height: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
  white-space: nowrap;
  overflow: auto;
  display: flex;
}

.photowrapperInner > img {
  height: 100%;
  margin-right: 12px;
}

.story .photowrapperInner > img {
  margin-right: 0;
}

.textColumn {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  white-space: pre;
}

.textColumn.middle {
  justify-content: center;
}

.textColumn.bottom {
  justify-content: flex-end;
}
