@import url('https://fonts.googleapis.com/css?family=Karla');
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.brutalism {
  width: 300vw;
}

.container {
  width: 100%;
  height: 100%;
}

.kevin, .lee, .mngyuan {
  cursor: default;
  user-select: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15vw;
  color: #f1f0f0;
}
.kevin, .lee {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}
.kevin {
  left: calc(-15vw / 3);
}
.mngyuan {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-left: calc(15vw / 3);
}
.lee {
  right: calc(-15vw / 10);
}

.page {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}

.theOne {
  position: absolute;
  bottom: 20vh;
  left: 20vw;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  line-height: 21px;
  width: 225px;
  // width: 20vw;
}

.line {
  width: 50%;
  background-color: black;
  height: calc(21px * 0.2);
  margin-top: calc(21px * 0.4);
  margin-bottom: calc(21px * 0.4);
}

.photowrapper {
  height: 55vh;
  position: absolute;
  top: 30vh;
  bottom: 15vh;
  white-space: nowrap;
  padding-right: 5vh;
  padding-left: 5vh;
  margin-left: 80vw;
}

.photowrapper > img {
  height: 100%;
  margin-right: 3px;
}
